@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');
*{
    margin:0;
    padding: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
}

#s4 ul{
    margin: 0 50px 0 50px;
    width: auto;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    /* align-items: center; */
}

#s4 li{
    position: relative;
    /* background-color: blue; */
    margin-bottom: 80px;
    height: 401px;
    width: 292px;
}


section#s4{
    background-color: #F9F8FE;
}



div#boxVerde{
    top: 20px ;
    right: 176px;
    bottom: 269px;
    left: 20px ;    
    padding: 5px 15px 5px 15px ;
    width: 96px;
    height: 32px;
    position: absolute;
    background-color: #E7FF86;
    border-radius: 29px;
    align-items: center;
    justify-content: center;
    display: flex;
    letter-spacing:0.75px;
    color: #474747 ;
    line-height: 22px;
    font-size: 14px;
}


span#container-cabeçalho-s04{
    color: #474747;
    width: auto;
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    padding-left: 20px;
    line-height: 38px;
    font-size: 24px;
} 

div#alta{
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.75px;
    color: #474747;
}

div#ver{
    color: #C92071;
    line-height: 34px;
    font-size: 18px;
    letter-spacing:0.75px;
    margin-bottom: 22px;
}

div#imagem-kswiss{
    border-radius: 4px;
    background-color: white;
    height:321px;
    width:292px;
    box-shadow: 6px 16px 30px hsla(0, 3%, 40%, 5%);
    overflow: hidden; 
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    cursor: pointer;
}

img#tenis-pos{
    margin-left: -16px;
    margin-top: 39px;
    margin-right: 20.23px;
    margin-bottom: 41.95px;
    transition-duration: 300ms;
}

#imagem-kswiss:hover #tenis-pos{
-moz-transform: scale(1.1);
-webkit-transform: scale(1.1);
transform: scale(1.1);
}

div#info{
    /* border: 2px solid green; */
    margin-top: 18px;
    text-align: justify;
    height: 100px;
    line-height: 24px;
}

span#textTenis-kswiss{
    line-height: 24px;
    font-size: 12px; 
    letter-spacing: 0.75px;
    color: #8F8F8F;
}

span#produto-kswiss{
    line-height: 38px;
    font-size: 24px;
    letter-spacing: 0.75px;
    color: #474747;
}

span#a200{
    line-height: 38px;
    font-size: 24px; 
    letter-spacing: 0.75px;
    color:#8F8F8F;
    text-decoration: line-through;
}

span#a100{
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.75px;
}

div a{
    color: inherit;
}

#s4 #card #boxVerde strong{
    font-size: 13px;
}